*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width:770px) {
 .container{
  padding-top: 20vh;
 }
}

.card-body{
    align-self: center;
}

#newform{
    width: 60vw;
    margin-top: 25px;
    padding: 20px;
}